# Introduction 
## This is the notebook for discussing tools and ecosystem of Data Science

# Data Science Languages
## Some of the popular data science languages used by data scientists are as follows
### 1. Python
### 2. R
### 3. SQL (Structured Query Language)
### 4. Julia
### 5. Java
### 6. JavaScript
### 7. Scala
### 8. C/C++
### 9. MATLAB
### 10. Go
### 11. SAS

# Data Science Libraries
## Some of the data science libraries are as follows
### 1. SciPy 
### 2. NumPy 
### 3. Pandas 
### 4. TensorFlow 
### 5. Matplotlib 
### 6. Ggplot2 
### 7. Tidyverse 
### 8. Dplyr

# Data Science Tools
---
## RStudio
---
## Apache Spark
---
## TensorFlow 
---
## Apache Hadoop 
---
## RapidMiner

### Below are a few examples of arithmetic expressions in Python

In [2]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

# Objectives
 - List of data science languages
 - List of data science libraries
 - Some of the popular data science tools
 - Arithmetic expressions
 - Converting minutes into hours

## Author
Sarbar Ali Saha